example/RAG.json
{
  "name": "RAG",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "b124906b-a29c-4b0a-9c0b-c74819d7f25a",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -480,
        0
      ],
      "id": "1b674fb6-758c-4a8c-8311-5660a5592cec",
      "name": "Webhook",
      "webhookId": "b124906b-a29c-4b0a-9c0b-c74819d7f25a"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/chat/loading/start",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"chatId\": \"{{ $json.body.events[0].source.userId }}\",\n    \"loadingSeconds\": 15\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -272,
        0
      ],
      "id": "e75324db-1e24-495b-86d9-908a07c8840e",
      "name": "Loading Animetion",
      "credentials": {
        "httpHeaderAuth": {
          "id": "ZCFih9KzT2BESnSi",
          "name": "line oa Demo"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2e615761-5018-48bf-8875-1b57c524ec8d",
              "name": "chatInput",
              "value": "={{ $('Webhook').item.json.body.events[0].message.text }}",
              "type": "string"
            },
            {
              "id": "65e0bf5d-801b-4b92-8773-d0a7be8d1c83",
              "name": "sessionId",
              "value": "={{ $('Webhook').item.json.body.events[0].source.userId }}",
              "type": "string"
            },
            {
              "id": "1467485b-1116-40b1-9df4-30180dfc8abd",
              "name": "messageType",
              "value": "={{ $('Webhook').item.json.body.events[0].message.type }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -96,
        0
      ],
      "id": "ade64d0b-6a70-4650-a165-6f7280ae6ea4",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=คำถาม:  {{ $json.chatInput }}",
        "options": {
          "systemMessage": "คุณคือ ระบบช่วยตอบคำถาม (Chatbot) สำหรับสาขาวิชาวิทยาการคอมพิวเตอร์ มหาวิทยาลัยราชภัฏบุรีรัมย์ ทำหน้าที่ให้ข้อมูลและความช่วยเหลือแก่ผู้ใช้เป็นภาษาไทยอย่างสุภาพและถูกต้องที่สุด โดยยึดข้อมูลจากคลังความรู้ที่มีอยู่เท่านั้น และปฏิบัติตามแนวทางดังต่อไปนี้:\n1.\tบทบาทของคุณ: ให้บริการข้อมูลเกี่ยวกับหลักสูตร วิทยาการคอมพิวเตอร์ และข้อมูลทั่วไปของสาขาวิชาฯ เช่น รายละเอียดหลักสูตร การรับสมัคร ประวัติสาขา สถานที่ตั้ง บุคลากร และกิจกรรมต่าง ๆ ของสาขา\n2.\tรูปแบบการตอบ: ตอบคำถามด้วยภาษาที่เป็นทางการแต่เข้าใจง่าย กระชับ และตรงประเด็น เพื่อให้เหมาะกับนักเรียน นักศึกษาใหม่ หรือบุคคลทั่วไปที่สอบถามข้อมูล\n3.\tการใช้ข้อมูล: ใช้เฉพาะข้อมูลที่ถูกต้องจากฐานความรู้ที่จัดเตรียมไว้ หากข้อมูลใดไม่อยู่ในฐานความรู้ ให้ตอบอย่างสุภาพว่า \"ขออภัย, ระบบไม่มีข้อมูลในส่วนนี้ หากต้องการข้อมูลเพิ่มเติมติดต่อ เพจ Facebook สาขาวิชาวิทยาการคอมพิวเตอร์ มหาวิทยาลัยราชภัฏบุรีรัมย์\"\n4.\tความถูกต้อง: ตรวจสอบให้แน่ใจว่าคำตอบถูกต้องตามข้อมูลทางการของมหาวิทยาลัยหรือคณะ และระบุรายละเอียดหรือแหล่งอ้างอิงเพิ่มเติมได้เมื่อเหมาะสม\n5.\tความสุภาพและมืออาชีพ: เริ่มการสนทนาด้วยการทักทายที่สุภาพ ใช้สรรพนามและภาษาสุภาพในการตอบคำถาม และพร้อมช่วยเหลือผู้ใช้ในขอบเขตข้อมูลของสาขาวิชาฯ ที่มีอยู่"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        624,
        0
      ],
      "id": "b8b28f34-7a12-4ff7-87a0-ab0ad81d1aea",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        496,
        208
      ],
      "id": "d311da5f-790f-4447-8a52-3b39cd2b4506",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "rU5FPfxUcPrbMfeG",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        640,
        208
      ],
      "id": "bf892127-2131-473b-953f-c8ba0f1dbb48",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "sZegA4y7nysLJcRX",
          "name": "Super Ai innovator โรงเรียน"
        }
      }
    },
    {
      "parameters": {
        "content": "## RAG AI Agent with Chat Interface",
        "height": 465,
        "width": 1900
      },
      "id": "af238b57-d7a4-4020-bc1f-00e4080dc933",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -512,
        -112
      ]
    },
    {
      "parameters": {
        "description": "ข้อมูลที่ใช้ในระบบ RAG เป็นความรู้พื้นฐานเกี่ยวกับสาขาวิชาวิทยาการคอมพิวเตอร์ มรภ.บุรีรัมย์ มีลักษณะเป็นข้อมูลข้อเท็จจริงสั้น ๆ และกระชับ เช่น รายละเอียดหลักสูตร ปรัชญาและเป้าหมายของหลักสูตร รายชื่อหรือบทบาทบุคลากร ที่ตั้งและช่องทางติดต่อ รวมถึงตัวอย่างกิจกรรมของสาขาฯ ข้อมูลทั้งหมดถูกเขียนเป็นภาษาไทยที่เข้าใจง่ายสำหรับบุคคลทั่วไปและแหล่งข้อมูลมาจากเว็บไซต์ทางการหรือเอกสารของมหาวิทยาลัยเพื่อความน่าเชื่อถือ"
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        1696,
        -16
      ],
      "id": "2c511142-1ef3-4005-a213-06a3bf8e27cc",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "content": "## Agent Tools for RAG",
        "height": 613,
        "width": 623,
        "color": 4
      },
      "id": "f12b897c-a366-4340-858e-d7f8c825ae01",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1472,
        -96
      ]
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        1520,
        144
      ],
      "id": "00f4b038-5efd-4ba1-9cd9-2ea73e896fb9",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "WRbZcrhnoQodZrRV",
          "name": "RAG-Chatbot"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        1520,
        320
      ],
      "id": "af240fbf-d218-4e35-bfd2-f2bd1ffc2268",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "rU5FPfxUcPrbMfeG",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1904,
        304
      ],
      "id": "bb6307d1-fa5e-4837-9e93-2cdb457c8a4a",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "rU5FPfxUcPrbMfeG",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/reply",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"replyToken\":\"{{ $('Webhook').item.json.body.events[0].replyToken }}\",\n    \"messages\":[\n        {\n            \"type\":\"text\",\n            \"text\":\"{{ $json.output }}\"\n        }\n    ]\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1184,
        -80
      ],
      "id": "30b21e5a-8cad-47e6-b9eb-19634e836b9a",
      "name": "Send RAG Answer to LINE",
      "credentials": {
        "httpHeaderAuth": {
          "id": "ZCFih9KzT2BESnSi",
          "name": "line oa Demo"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all()\nreturn items.map(item => {\n  return {\n    json: {\n      ...item.json,\n      output: item.json.output.replace(/\\n/g, \"\")\n    }\n  }\n})"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        976,
        -80
      ],
      "id": "104afeec-60ee-4088-91a7-46d95c6868e2",
      "name": "Format RAG Response"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/reply",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"replyToken\":\"{{ $('Webhook').item.json.body.events[0].replyToken }}\",\n    \"messages\":[\n        {\n            \"type\":\"text\",\n            \"text\":\"ขออภัย, ตอนนี้ระบบมีการตอบกลับเพียงรูปแบบข้อความเท่านั้น\"\n        }\n    ]\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        272,
        192
      ],
      "id": "b06c99ea-5895-402b-9abb-54b6f768c96f",
      "name": "Send RAG Answer to LINE1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "ZCFih9KzT2BESnSi",
          "name": "line oa Demo"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3fede73e-d308-463b-b7c0-420254190628",
              "leftValue": "={{ $json.messageType }}",
              "rightValue": "text",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        112,
        0
      ],
      "id": "4dc30959-3192-4c59-a5c3-bd9a9bdf2b06",
      "name": "ดักจับที่ messageType"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Loading Animetion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loading Animetion": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "ดักจับที่ messageType",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Format RAG Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format RAG Response": {
      "main": [
        [
          {
            "node": "Send RAG Answer to LINE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ดักจับที่ messageType": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send RAG Answer to LINE1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a266fdcc-feb7-478c-b0dc-758872a77210",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e51e040c502e0c2f35f6585a8e884d32f1102a53d198390c673aa1caa83a67e3"
  },
  "id": "DDf6uHdA9eOgFSg9",
  "tags": []
}